
#cor{
    background-color: #F26A2E;
}
.wraaper{
    width: 100%;
    height: 750vh;
    top: 0%;
    left: 0%;
    position: absolute;
    background-color: #EA9D7B;
   
}
#inicio{
    width: 100%;
    height: 3%;
    top: 0%;
    left: 0%;
    position: relative;
    background-color: #F26A2E;
}
#img{
    width: 200px;
    height: 150px;
}
#tittle{
    text-align: center;
    color: #ffff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 97px;
}
.text{
    padding-left: 10px;
    color: #ffff;
}
#text-ods{
    width: 25vw;
    height: 30vh;
    right: -65%;
    top: 0.5%;
    position: relative;
}
#text-ods_2{
    width: 55vw;
    height: 5vh;
    left: -15%;
    top: 1%;
    position: relative;
}
.carrossel{
    width: 50%;
    height: 10%;
    top: 2%;
    left: 20%;
    position: relative;
}
.tittle-objetive{
    width: 30%;
    height: 5%;
}
#seila{
    padding-left: 3%;
}
.footer{
    width: 100%;
    height: 5%;
    top: 750vh;
    left: 0%;
    position: absolute;
    background-color: #F84A00;
}